.list {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

ul {
    color: #FFF;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-position: outside;
    align-items: center;
}

ul li {
    cursor: pointer;
    margin-top: 10px;
    max-width: 300px;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 10px;
}