#root {
    margin: 0 auto;
    width: 100%;
}
body {
    background-color: #20232a;
}

.main{
    text-decoration: none;
    word-break: break-all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
